---
name: Release
on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Python
        uses: actions/setup-python@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Build Release
        run: uv build

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          name: "Version ${{ github.ref_name }}"
          files: |
            dist/*